/* main table */
.schedule {
    width: 90vw;
    height: 600px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

/* table general */
.schedule table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 0px;
    table-layout: fixed;
}
  
.schedule td, th {
    border: 0.1em solid #000000;
    text-align: left;
}

.schedule table tr:nth-child(even) {
    background-color: #dddddd;
}

.schedule table tr:nth-child(odd) {
    background-color: #f4f4f4;
}


/* head */
.schedule thead tr {
    height: 40px;
}

.schedule thead th:nth-child(1) {
    width: 60px;
}

.schedule thead th {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100px;
}


/* table body*/
.schedule table tbody td div {
    padding: 0px;
    width: 100%;
    /*background-color: blueviolet;*/
    height: 100%;
    display: table;
    position: relative;
}

.schedule table tbody td:nth-child(+n + 2) {
    padding: 0px;
}





/* body */
.schedule tbody tr {
    height: 40px;
}

.schedule tbody td {
    vertical-align: bottom;
    padding-left: 8px;
}


/* event */

.schedule .event {
    position: absolute;
    border: 0.1em solid orange;
    width: calc(100% - 0.3em);
    text-align: center;
    padding: 1px;
    background-color: aqua;
    display: block;
    overflow: auto;
}


/* add */
.add {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.add div {
    padding: 5px;
    text-align: center;
}